langchain==0.3.14
langchain-community==0.3.14
langchain-core==0.3.30
langchain-groq==0.2.3
langchain-openai==0.3.0
langgraph==0.2.64
python-dotenv==1.0.1
pydantic==2.10.5
fastapi==0.115.6
uvicorn==0.34.0
streamlit==1.41.1